
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// mixins
@import 'mixins';

// body样式
body{
  background: #dee2e6;
}

// 导航栏样式
header{

}

// 内容样式
main{
  padding-top: 1rem;

  // 左边主要页面内容
  section.left{
    // thread列表展示
    .card-thread-list{
      section.thread-title{
        @include thread-title-show;
      }
      .thread-item{
        padding: .5rem;
        &:hover{
          background-color: darken($color: #f8fafc, $amount: 2)
        }
      }
    }
    //thread内容展示
    .card-thread{
      section.thread-title{
        @include thread-title-show;
      }
      section.thread-body{

      }
    }
  }

  // 右边卡片
  section.right{
    .user-img{
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: 1px lightgray solid;
      padding: 2px;
      margin-bottom: 1rem;
    }
  }

}

// 页脚样式
footer{

}