
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// mixins
@import 'mixins';

// body样式
body{
  background: #dee2e6;
}

// 导航栏样式
header{

}

// 内容样式
main{
  min-height: calc(100vh - 8.6rem);
  padding-top: 1rem;

  // thread列表展示
  .card-thread-list{
      section.thread-title{
        @include thread-title-show;
      }
      .thread-item{
        padding: .5rem;
        &:hover{
          background-color: darken($color: #f8fafc, $amount: 2)
        }
      }
  }

  .nav_tag_list{
    a{
      color: #156470;
      margin: .5rem;
      &.active{
        font-weight: bolder;
      }
    }
  }

  .thread-title-tags{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

  }

  .tag{
    font-size: 12px;
    padding: .1rem .4rem;
    margin: 0 0 .4rem .4rem;
    border-radius: .5rem;
    a{
      text-decoration: none;
      color: whitesmoke;
    }
  }

  //thread内容展示
  .card-thread{
    section.thread-title{
      @include thread-title-show;
    }
    section.thread-body{

    }
  } 
  // forum板块管理区域 
  .accordion{
    .card-header{
      background-color: white;
      border: none;
      box-shadow: 0 0 0 rgba(0, 0, 0, .4);
    }
  }

  // 帖子评论样式
  .thread-replies-item{
    margin-bottom: 1rem;
    padding: .5rem;
    word-break: break-all;
    &:hover{
      background-color: darken($color: white, $amount: 3);
    }
    // 回复评论样式
    .message{
      font-size: 18px;
      line-height: 1.7;
      blockquote{
        padding: .5rem .8rem;
        background-color: #e9ecef;
        word-break: break-all;
      }
    }
    .reply-button{
      &:hover{
        color: $blue;
        cursor: pointer;
      }
    }
  }

  // 评论框样式
  .new-reply{
    padding: .5rem;
  }

  // 用户头像大小
  .user-img-1{
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
  }

  .user-img-2{
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 2.4rem;
  }
  .user-img-3{
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 1.8rem;
  }
  .user-img-4{
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 1.2rem;
  }
  .user-img-5{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0.6rem;
  }

}

// 页脚样式
footer{

}